<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Dont provide any value for RootFilePath if default path to be used-->
    <add key="RootFilePath" value="D:\AUTOMATION\Enhancement\Code_3\Selenium CodedUI Framework" />
    <!-- Dont provide value here if Folder structures are created as per the plan-->
    <add key="UIControlFile" value="UI\UIControls.xlsx" />
    <add key="VerificationFile" value="Verifications\Verifications.xlsx" />
    <add key="TestConfigurationFile" value="Configuration\TestConfigurations.xlsx" />
    <add key="TestCaseFolderName" value="TestCases" />
    <add key="LoadWebServiceAPIData" value="WebServiceData\LoadAPIData.xlsx" />
    <!-- DSN for database connection-->
    <add key="DSNName" value="DATABASE"/>
    <!-- Test report file path and file name prefix-->
    <add key="TestReport_FileNamePrefix" value="Test Report" />
    <!-- Wait for control to exist timeout value -->
    <add key="WaitForControlToExistTimeOut" value="120" />
    <!-- Browser to use (ie, chrome or firefox)-->
    <add key="WindowType" value="windowapp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TestReport_FileNamePrefix" value="Test Report" />
    <add key="BrowserType" value="chrome" />
    <!-- Email Notification Settings, EmailNotifcationRequired should be 'Yes' to get email notification -->
    <add key="EmailNotifcationRequired" value="" />
    <add key="TestReportPath" value="TestReport" />
    <add key="SmtpServerHostAddress" value="test.test.com" />
    <add key="SmtpServerPort" value="587" />
    <add key="MailFrom" value="alolyn.d-souza@metlife.com" />
    <add key="MailTo" value="alolyn.d-souza@metlife.com;akshatha-miyal.kamath@metlife.com" />
  </appSettings>
  <connectionStrings>
    <add name ="oledb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=&quot;Excel 12.0 Xml;HDR=NO;&quot;"/>
    <!-- Email Notification connection Strings -->
    <add name ="excelConStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=&quot;Excel 12.0 Xml;HDR=NO;IMEX=1;&quot;"/>
    <add name ="excelConStrDefineHeader" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=&quot;Excel 12.0 Xml;HDR=YES;IMEX=1;&quot;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>